@import '../../../scss/variables.scss';

.modal {
    position: absolute;
    width: auto;
    max-width: 300px;
    text-align: center;
    background-color: $modalBg;
    border-radius: 15px;
    padding: 15px;
    top: 20px; right: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}