.login {
    width: 500px;
    margin: 50px auto 0;
    border: 1px solid black;
}

.login-title {
    border-bottom: 1px solid black;
    text-align: center;
}

.login-form {
    padding: 20px;
    text-align: center;

    input {
        margin-bottom: 20px;
    }
}